.filterBar
{
    width:100%;
    height:75px;
    padding:10px;

    .filterBar-right 
    {
       float:right;

        .add-btn 
        {
            padding: 5px 10px;
            background-color: rgb(6, 197, 13);
            color:#fff;
            border: none;
            border-radius: 5px;
        }
    }
}