.forgot-password 
{
    display: flex;
    justify-content: center;
    align-items: center;
   form 
   {
    width:500px;
    height:300px;
    padding:30px 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
   
    input {
        display: block;
        width:400px;
        height:45px;
        border-radius:5px;
        border:none;
        border:1px solid #ccc;
        color:#333;
    }
    .email-input 
    {
        padding-left:30px;
    }
    .passwordInput 
    {
        margin-top:30px;
        padding-left:30px;
    }
    button 
    {
        width:100px;
        height:45px;
        margin-top:50px;
        border:none;
        border-radius:5px;
        background-color: #4e3a91;
        color:#fff;
    }
   }
    .email-form 
    {
        padding-top:75px;
    }
   .otp-form
   {
    padding-top:75px;
     div 
     {
        justify-content: space-between;
     }
   }
}