.edit-form 
{
    min-height:400px;
    label
    {
        display: block;
    }

    .form-item-wrapper
     {

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:50px;

        .form-item{
            width:80%;
            height:50px;
            margin-top:30px;
    
        input 
        {
            width:100%;
            margin-top:5px;
            padding:10px;
            border:none;
            border:1px solid #ccc;
            border-radius:5px;
        }
        }
    }
   

    button 
    {
        margin-top:35px;
        padding:8px 16px;
        background-color: rgb(40, 110, 240);
        border: none;
        border-radius:5px;
        color:white;
    }
}