.filterBar
{
    width:100%;
    height:75px;
    padding:10px;
    
    .filterBar-right 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        float:right;
        gap:30px;

        .filter 
        {
            display: flex;
            gap:10px;
            justify-content: center;
            align-items: center;
        }
        .add-btn 
        {
            padding: 5px 10px;
            background-color: rgb(6, 197, 13);
            color:#fff;
            border: none;
            border-radius: 5px;
        }
    }
}